<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Student Add -->
    <li class="nav-item">
      <a class="nav-link" href="/studentadd">
        <i class="bi bi-person-plus"></i>
        <span>Student Add</span>
      </a>
    </li>

    <!-- Student View -->
    <li class="nav-item">
      <a class="nav-link" href="/studentlist">
        <i class="bi bi-people"></i>
        <span>Student View</span>
      </a>
    </li>

    <!-- Performance Add -->
    <li class="nav-item">
      <a class="nav-link" href="/perfromanceadd">
        <i class="bi bi-graph-up-arrow"></i>
        <span>Performance Add</span>
      </a>
    </li>

    <!-- Performance View -->
    <li class="nav-item">
      <a class="nav-link" href="/performancelist">
        <i class="bi bi-bar-chart"></i>
        <span>Performance View</span>
      </a>
    </li>

    <!-- Logout -->
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
      </a>
    </li>

  </ul>
</aside>
<!-- End Sidebar -->
